:root {
    --alert-primary: #007bff;
    --alert-danger: #dc3545;
    --alert-warning: #ffc107;
    --alert-success: #28a745;
}
.__alert_popup *:not(i) {
    box-sizing: border-box;
    font-family: inherit;
}
.__alert_hider {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    opacity: 0;
    background-color: rgba(0,0,0,.6);
    transition: opacity .15s linear;
}
.__alert_hider_hidden {
    display: none;
}
.__alert_hider_visible {
    display: block;
}
.__alert_hider_fired {
    opacity: 1;
}
.__alert_popup {
    padding: 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 420px;
    max-width: 90%;
    border-radius: 7px;
    background-color: #fff;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
    transform: translate(-50%, -20%);
    opacity: 0;
    z-index: 1001;
    transition: transform .3s cubic-bezier(.22,.68,0,1.71), opacity .3s linear;
    box-shadow: 0 0 15px #141414;
}
.__alert_popup_hidden {
    display: none;
}
.__alert_popup_visible {
    display: flex;
}
.__alert_popup_fired {
    opacity: 1;
    transform: translate(-50%, -50%);
}
.__alert_icon_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
.__alert_icon_wrapper i {
    font-size: 55px;
}
.__alert_icon_success {
    color: var(--alert-success);
}
.__alert_icon_error {
    color: var(--alert-danger);
}
.__alert_icon_warning {
    color: var(--alert-warning);
}
.__alert_icon_primary {
    color: var(--alert-primary);
}
.__alert_title {
    text-align: center;
    margin-block-end: 0;
    margin-block-start: 0;
    font-size: 25px;
    font-family: inherit;
}
.__popup_middle_container {
    width: 100%;
    margin-bottom: 20px;
}
.__popup_text {
    text-align: center;
    font-family: inherit;
    font-size: 16px;
    margin-block-end: 0;
}
.__alert_bottom_container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
.__alert_button {
    border: none;
    border-radius: 7px;
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    cursor: pointer;
    padding: 10px 20px;
    margin: 0 7px;
}
.__alert_button_primary {
    background-color: var(--alert-primary);
    color: #fff;
}
.__alert_button_danger {
    background-color: var(--alert-danger);
    color: #fff;
}